<img src="assets/imagens/500doc.jpeg" alt="Imagem" (click)="redirecionar()" style="cursor: pointer;">
<img src="assets/imagens/500bp.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/500flix.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/500tele.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/300fixo.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/300music.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/600.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/premiere.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/300pm.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/30odoc.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
<img src="assets/imagens/500cine.jpeg" alt="Imagem" (click)="redirecionar()"style="cursor: pointer;">
